body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center; 
}

form h1 {
  color: #fff; 
}

body {
  margin: 40px;
}

.box p {
  text-align: center;
  color: #fff;
}

.wrapper {
  width: 400px;
  height: 200px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 400px 400px;
  background-color: #fff;
}

.box {
  color: #fff;
  border-radius: 2px;
  padding: 20px;
  font-size: 150%;
  display: inline-block; 
  
}

.box:nth-child(2) {
  background-color: #4568DC;
}

.box:nth-child(3) {
  background-color: #B06AB3;
}

.box:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
  background: linear-gradient(to right, #4568DC , #B06AB3);
}

.a1 {
  grid-column: 1;
  grid-row: 2;
  cursor: pointer;
}

.a2 {
  grid-column: 2;
  grid-row: 2;
  cursor: pointer;
}

#main {
  background: linear-gradient(to right, #4568DC , #B06AB3);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  border-radius: 7px;
}

input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

.submit{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
}